<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <title>Dashboard</title>
</head>

<body class="theme">
  <div class="grid">
    <div class="app">
      <label>
        Consultar data
        <input type="date" id="date-picker">
      </label>

      <div id="data-container"></div>

      <dialog id="modal">
        <div class="navigation">
          <button id="previous">Anterior</button>
          <button id="next">Próximo</button>
        </div>
        <div class="modal-content">
        </div>

        <form method="dialog">
          <button>OK</button>
        </form>
      </dialog>

      <a href="https://stou.ifractal.com.br/fulltime/phonto.php" target="_blank" rel="noopener noreferrer">
        <button>Registrar ponto</button>
      </a>
    </div>
    <div class="data-table">
      <div id="last-week"></div>
    </div>
  </div>
  <script src="utils/calculate.js"></script>
  <script src="utils/indexedDB.js"></script>
  <script src="scripts/widgets.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/report.js"></script>
  <script>
    renderData({{{ data }}})
  </script>
</body>

</html>