<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="main.css">
  <title>Home</title>
</head>

<body class="theme">
  <div class="app">
    <div id="data-container"></div>

    <a href="https://stou.ifractal.com.br/fulltime/phonto.php" target="_blank" rel="noopener noreferrer">
      <button>Bater ponto</button>
    </a>

    <script src="widgets.js"></script>
    <script src="main.js"></script>
    <script>
      renderData({{{ data }}})
    </script>
  </div>
</body>

</html>