<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>Login</title>
</head>

<body class="theme">
  <form onsubmit="submit(event); return false">
    <div>  
      <input type="text" name="email" placeholder="Usuário" />
      <input type="password" name="password" placeholder="Senha" />
    </div>
    <input type="submit" value="Acessar" />
  </form>

  <dialog id="modal">
    <p id="modal-content"></p>
    <button style="background-color: transparent;" onclick="closeModal()">Fechar</button>
  </dialog>

  <script src="scripts/login.js"></script>
</body>

</html>