:root {
  --border-color: #bbbbbb;
  --foreground: #222;
  --primary: rgb(17, 113, 130);
  --bg: #ffffff;
}

body {
  font-family: sans-serif;
  font-size: 1em;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.75;
}

.theme {
  color: #111;
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #636363;
    --foreground: #eee;
    --bg: #222222;
  }

  .theme {
    color: #eee;
    background-color: var(--bg);
  }
}

#data-container {
  width: 360px;
  margin: 10vh auto;
  margin-bottom: 5vh;
  min-height: 140px;
}

.app {
  padding: 4px 12px;

  p {
    margin: 4px 0;
    padding: 0;
    opacity: 0.85;
  }

  h3 {
    margin: 0;
    font-size: 1em;
    text-align: center;
    margin-bottom: 6px;
  }

  a {
    margin: 0 auto;
    display: block;
    width: fit-content;
  }
}

progress {
  width: 100%;
  margin-bottom: 2px;
}

#grid {
  display: grid;
  margin-top: 3px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0 6px;
}

.badge,
.badge-empty {
  background-color: var(--primary);
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 2px 3px;
}

.badge-empty {
  background-color: #525252;
  min-height: 20px;
}

button,
*[role="button"] {
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 4px;
  text-decoration: none;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  display: block;
  padding: 10px 22px;
  border: none;
  background-color: var(--primary);
  color: white;

  &:hover {
    cursor: pointer;
    filter: brightness(0.92);
  }
}

.last-updated {
  margin-top: 10px;
  padding-top: 8px;
  border-top: 1px solid var(--border-color);
  margin-bottom: 18px;
}

.error {
  color: rgb(212, 78, 55);
}

form {
  margin: 10vh auto;
  width: fit-content;
}

input {
  padding: 7px 4px;
  background-color: transparent;
  color: #eee;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  outline: none;

  &:focus,
  &:active {
    border: 1px solid var(--primary);
    box-shadow: 0 0 0 2px var(--primary);
  }
}

input[type="submit"] {
  background-color: rgb(16, 103, 124);
  padding: 6px 20px;
  border: 1px solid var(--primary);
  cursor: pointer;
  color: var(--foreground);
}

a:has(button) {
  text-decoration: none;
}

#modal {
  outline: none;
  width: 240px;
  background-color: var(--bg);
  border: 1px solid var(--border-color);
  color: var(--foreground);
  border-radius: 4px;

  #modal-content {
    text-align: center;
    color: rgb(223, 69, 69);
  }
}