:root {
  --border-color: #bbbbbb;
  --foreground: #222;
  --primary: rgb(17, 113, 130);
  --bg: #ffffff;
}

body {
  font-family: sans-serif;
  font-size: 0.875em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  margin: 10vh 10vw;
}

button,
input {
  font-size: 0.9em;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.75;
}

.theme {
  color: #111;
  background-color: #ffffff;
}


@media (max-width: 930px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #636363;
    --foreground: #eee;
    --bg: #222222;
  }

  .theme {
    color: #eee;
    background-color: var(--bg);
  }
}

.data-table {
  /* background-color: #1b1b1b; */
  margin-top: 8px;
  border-radius: 12px;
  padding: 20px 0;
  max-height: 70dvh;
  overflow-y: auto;
}

.data-table p {
  text-align: center;
  margin: 0;
  opacity: 0.75;
  margin-bottom: 10px;
}

#data-container {
  width: 400px;
  margin: 10vh auto;
  margin-top: 18px;
  margin-bottom: 5vh;
  min-height: 140px;
}

.app {
  padding: 4px 12px;
  /* background-color: #1b1b1b; */
  border-radius: 12px;
  padding: 20px 0;

  p {
    margin: 4px 0;
    padding: 0;
    opacity: 0.85;
  }

  h3 {
    margin: 0;
    font-size: 1em;
    text-align: center;
    margin-bottom: 6px;
  }

  a {
    margin: 0 auto;
    display: block;
    width: fit-content;
  }
}

progress {
  width: 100%;
  margin-bottom: 2px;
}

#grid {
  display: grid;
  margin-top: 3px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0 6px;
}

.badge,
.badge-empty {
  background-color: var(--primary);
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 2px 3px;
}

.badge-empty {
  background-color: #525252;
  min-height: 20px;
}

button,
*[role="button"] {
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 4px;
  text-decoration: none;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  display: block;
  padding: 10px 22px;
  border: none;
  background-color: var(--primary);
  color: white;

  &:hover {
    cursor: pointer;
    filter: brightness(0.92);
  }
}

.last-updated {
  margin-top: 10px;
  padding-top: 8px;
  border-top: 1px solid var(--border-color);
  margin-bottom: 18px;
}

.error {
  color: rgb(212, 78, 55);
}

form {
  margin: 10vh auto;
  width: fit-content;
  display: flex;

  input[type="submit"] {
    display: block;
    margin-left: 10px;
  }
}

input {
  padding: 7px 4px;
  background-color: transparent;
  color: #eee;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  outline: none;

  &:focus,
  &:active {
    border: 1px solid var(--primary);
    box-shadow: 0 0 0 2px var(--primary);
  }
}

input[type="submit"] {
  background-color: rgb(16, 103, 124);
  padding: 6px 20px;
  border: 1px solid var(--primary);
  cursor: pointer;
  color: var(--foreground);
}

a:has(button) {
  text-decoration: none;
}

#modal {
  outline: none;
  background-color: var(--bg);
  border: 1px solid var(--border-color);
  color: var(--foreground);
  border-radius: 4px;

  #modal-content {
    text-align: center;
    color: rgb(223, 69, 69);
  }

  .navigation {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-bottom: 12px;

    button {
      margin: 0;
      user-select: none;
      box-shadow: none;
      background-color: rgba(88, 88, 88, 0.3) !important;
      border: none !important;
      padding: 8px 18px !important;
    }
  }
}

&::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

dialog {
  background-color: var(--bg) !important;
  color: var(--foreground);
  border-radius: 4px;
  border: 1px solid #424242;
  width: 400px !important;
  height: fit-content;
  position: relative;
  z-index: 100 !important;
  min-height: 190px;

  & form {
    margin: 0;
    display: flex;
    position: absolute;
    bottom: 12px;
    right: 12px;
    text-align: right;
    justify-content: end;
  }

  & button {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #454545;
  }
}

label:has(*[id="date-picker"]) {
  width: 400px;
  margin: 0 auto;
  display: flex;
  opacity: 0.75;
  flex-direction: column;
  text-align: center;
  margin-bottom: 8px;
  row-gap: 6px;
}

#work-week {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin-top: 22px;

  thead th {
    font-size: 13px !important;
    font-weight: normal;
    text-align: left;
    padding: 1px 12px;
  }

  tbody td {
    padding: 1px 12px;
    font-size: 14px;
    font-weight: 100;
  }
}

input[type="date"] {
  font-size: 1.1em;
}

button {
  font-size: 0.85em;
}

@media screen and (max-width: 780px) {
  body {
    font-family: sans-serif;
    font-size: 1em;
  }

  button {
    font-size: 1em;
  }

  input {
    padding: 10px 6px;
    font-size: 1em;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: calc(100% - 64px);
    padding: 5vh 32px;

    input {
      margin-top: 10px;
    }

    input[type="submit"] {
      margin: 0;
      margin-top: 10px;
      padding: 10px 8px;
      font-weight: bold;
      font-size: 1.09em;
    }
  }
}

details:has(#last-week) {
  max-width: 400px;
  margin: 0 auto;

  &>summary {
    text-align: center;
    margin-top: 8px;
    padding: 8px 0;
    list-style: none;
    border-radius: 6px;

    &:hover {
      background-color: #353535;
      cursor: pointer;
    }
  }
}

#last-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
  width: 400px;
  margin: 0 auto;

  span {
    margin-top: 4px;
    font-weight: bold;
    text-align: center;
  }
}

table {
  margin: 0 auto;

  thead tr {
    opacity: 0.65;
  }

  td {
    font-size: 0.9em !important;
    opacity: 0.9;
    padding: 1px 12px;
  }

  .monday {
    position: relative;
    padding-top: 12px;
  }

  .monday::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #575757;
    bottom: -2px;
    left: 0;
    margin-top: 6px;
  }
}