@import "tailwindcss";

@font-face {
  font-family: "Museo Sans";
  src: url("/fonts/MuseoSans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95em;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw
}

#modal::backdrop {
  width: 100vw;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0c0c0cd0;
}

::-webkit-scrollbar-thumb {
  background: #2c2c2c;
  width: 8px;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}

@keyframes animate-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: animate-spin infinite 1s linear;
}

.primary-btn {
  transition: box-shadow .08s ease-in-out;

  &:hover,
  &:active {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3), 0 0 0 5px rgba(66, 63, 233, 0.438);
  }
}

.museo-sans {
  font-family: "Museo Sans";
}

button {
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: #fff;
  transition: background-color 9999s ease-in-out 0s;
  caret-color: aqua;
}

.tooltip-container {
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.692);
    z-index: 5;
  }
}

.tooltip-container:has(> .progress-tooltip):hover > .progress-tooltip {
  display: block;
}

.progress-tooltip {
  position: absolute;
  display: none;
  bottom: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
  background: #202020;
  border: 1px solid #333333;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
  color: #fff;
  user-select: none;
  white-space: nowrap;
  pointer-events: none;
  z-index: 10;
}